# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://nareshchoudhary6482_db_user:jet6N73fJSBOKoXU@cluster0.44qcisa.mongodb.net/ne_shield_db?retryWrites=true&w=majority

# ImageKit Credentials for Photo Uploads
IMAGEKIT_PUBLIC_KEY=public_dYzVWPCwGq51pf6L1UAyd4Im3dw=
IMAGEKIT_PRIVATE_KEY=private_q3Wn6qmRyp4GuI/vx5eVLXcHmEs=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/v08bk6kth

# External API key for NE-SHIELD GIS Integration
EXTERNAL_API_KEY=ne_shield_secret_key_2026
NEXT_PUBLIC_APP_URL=http://localhost:3000
